*{
    margin: 0;
    padding: 0;
}
.description{
    color:rgba(235, 229, 229, 0.952);
}



/* --header part-- */
.header{
    background-image: url("images/banner/banner.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 750px;
    text-align: right;

   }
   .header-content{
    margin-right: 150px;
    padding-top: 120px;
    
   }
.header-title {
    color: #FFFFFF;
    font-size: 50px;
    font-weight: 800;
}

.btn {
    background-color: #FFFFFF;
    padding:12px 30px;
    border: none;
    border-radius: 5px;
    color: blue;
    font-size: 15px;
    font-weight: 600;
    margin-top: 20px;
}

/* ---failure section--- */

.failure-container {
    display: flex;
    gap:25px
}

.failure-img{
    width: 50%;
    padding-left: 180px;
}
.failure-content{
    width: 50%;
    margin-top: 150px;
}

.failure-title{
    font-size: 35px;
    font-weight:800;
    margin-bottom: 20px;
}

.failure-description {
    color: rgb(109, 100, 100);
    margin-bottom: 20px;
}

/* ---my plan section--- */
.myplan {
    margin-top: 100px;
}
.myplan-container {
    display: flex;
    padding: 20px 200px;
   
}
.plan {
    padding: 15px 30px;
}
.plan img {
    padding: 5px 20px;
}
.myplan-title {
    text-align: center;
    font-size: 35px;
    font-weight: 800;
}
.plan h2 {
    font-size: 20px;
    color:gray;
    margin-left: 15px;
}

.mindset-banner{
    background-image: url("images/watch.png");
    background-repeat: no-repeat;
    position: relative;
   margin: 20px 150px;
}
.mindset-banner img {
    width: 80%;
    height: 300px;
   
}

.maindset-banner-content {
    position: absolute;
  bottom: 50px;
  left: 106px;
  

}

.mindset-text {
    font-size: 40px;
    font-weight: 900;
    color: #FFFFFF;
    margin-bottom: 25px;
   
}

.call-btn {
    padding: 12px 25px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: blueviolet;

    
}

/* ---footer---- */
.footer {
    display: flex;
    justify-content:space-around;
    
    padding: 100px 50px ;
    background-color:rgb(26, 24, 24);
    color: #FFFFFF;
}
.future-heading {
    font-size: 40px ;
    font-weight: 800;
}

.footer-description {
    color: lightgray;
    margin:10px 0px;
}


.email-input {
    border: 1px solid #FFFFFF;
    margin: 20px 0px;
    border-radius: 7px;
    padding: 12px 30px;
    color: #FFFFFF;
    background-color: rgb(26, 24, 24);
}

.subscribe-btn {
    padding: 12px 35px;
    background-color: rgba(81, 81, 240, 0.884);
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 18px;
}

/* ---article section--- */
.article-container{
    display: flex;
    gap: 25px;
    justify-content: center;
    padding-bottom: 25px;
}

.article {
    margin-left: 10px;
    padding: 20px 10px;
    box-shadow: 5px 10px 10px 2px rgba(128, 128, 128, 0.699);
}

.article-heading{
    margin:35px 0px 10px 100px;
    border: 1px solid rgb(175, 154, 150);
    display: inline-block;
    padding: 5px 10px;
}